@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcf2;
  --foreground: #252422;
  --accent: #eb5e28;
  --muted: #ccc5b9;
  --muted-foreground: #403d39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252422;
    --foreground: #fffcf2;
    --accent: #eb5e28;
    --muted: #403d39;
    --muted-foreground: #ccc5b9;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background;
    font-family: 'Inter', sans-serif;
  }
  input {
    @apply bg-background text-foreground border-muted border;
  }
  label {
    @apply text-foreground;
  }
}
